@import 'tailwindcss';
@source "../../../node_modules/svev-daisyui";
@plugin "daisyui" {
  /* https://github.com/saadeghi/daisyui/issues/3882#issuecomment-3382480890 */
  exclude: properties;

  themes: light --default;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
