@import 'tailwindcss';
@source "../../src";
@plugin "daisyui" {
  /* https://github.com/saadeghi/daisyui/issues/3882#issuecomment-3382480890 */
  exclude: properties;

  themes:
    light --default,
    dark --prefersdark;
}
